body{
    background-color: #356cc0;
}

body h1{
    color: #fff;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.basicinfo{
    color: #fff;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.profile{
    width: 88rem;
    height: 25%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
}


.profile-info{
    width: 88rem;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.program-exp {
    color: #fff;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #356cc0;
}

.programming-info{
    width: 88rem;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.essayhistory {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.white-hidden {
    color: white;
}
